
 /* Preview */
/* * { */
    /* min-width: 5rem; */
    /* min-height: 5rem; */
    /* border: grey 1px solid; */
    /* border-radius: 25px; */
/* } */

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 600px;
    margin: auto;
    background-color: darkslategray;
    box-shadow: 0 0 10rem 0 darkorchid;
}

button {
    cursor: pointer;
    border: black 1px solid;
    border-radius: 1rem;
}

header, nav, main {
    max-width: 600px;
    z-index: 1;
}