header {
    position: relative;
    width: 100%;
    background-color: var(--bg);
    text-align: center;
    border-radius: 0;
    z-index: 111px;
    padding: 1rem;
    text-transform: uppercase;
}
