nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: beige;
  z-index: 111;
  box-shadow: 0 0 2rem 0 darkslategray, inset 0 -5px 2cap 0 chartreuse;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
nav ul li {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}
nav ul li a {
  background-image: url(/assets/icons/shield-question.svg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-indent: 100%;
  overflow: hidden;
  text-decoration: none;
}

nav ul li#nav-profile a {
  background-image: url(/assets/icons/shield-user.svg);
}
/* just messing around now */
nav ul li#nav-favorite a {
  background-image: url(/assets/icons/book-heart.svg);
}

nav ul li.active {
  background-color: white;
  box-shadow: 0 0 3rem 1rem white;

  border: 3.5px solid black;
}

nav ul li:hover {
  border: 3px solid white;
}
