.quiz {
  padding: 20px 0 120px 0;
  background-color: aliceblue;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.quiz__card {
  width: 500px;
  height: 500px;
  box-shadow: inset 0 0 2rem cornflowerblue;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 2rem;
}

.quiz__card__question {
  text-align: center;
  font-size: 2rem;
}

.showanswer {
  width: 300px;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: inset 0 0 1rem 0 cornflowerblue, 0 5px 1rem 0 hotpink;
  border: none;
}

.showanswer:hover {
  transform: translate(0, 2px);
  box-shadow: inset 0 0 1rem 0 cornflowerblue, 0 2px 1rem 0 hotpink;
}

.quiz__card__tags {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 5px;
}

.quiz__card__tags__tag {
  border-radius: 3px;
  border: none;
  padding: 2px 12px;
  box-shadow: 1px 1px 2px 0 cornflowerblue;
  color: #666;
}
.quiz__card__tags__tag:hover {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 4px 0 cornflowerblue;
  background-color: bisque;
}

.quiz__card__tags__tag::before {
  content: "# ";
}

.card__bookmarktoggle {
  position: absolute;
  top: -1rem;
  right: -1rem;

  background-image: url(../assets/icons/bookmark.svg);
  background-position: center;
  background-size: cover;
  height: 3rem;
  width: 3rem;
  text-indent: 100%;
  overflow: hidden;
  background-color: transparent;
  border: none;
  border-radius: 100vw;
}
.card__bookmarktoggle:hover {
  /* box-shadow: 0 0 1rem 0 white, inset 0 0 1rem white; */
  height: 3.1rem;
  width: 3.1rem;
}

.card__bookmarktoggle--active {
  background-image: url(../assets/icons/bookmark-check.svg);
}
